<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue Trello?</title>
  </head>
  <body>
    <header>
      <div class="header-title">Vue Trello?</div>
    </header>
    <div class="main-container" id="app">
      <div class="list-container">
        <div class="list-header">買い物リスト</div>
        <div class="cards-container">
          <div class="card" v-for="todo, i in list">
            <!-- v-modelは依存関係、型が同じものはHTML, dataで一貫する -->
            <input type="checkbox" v-model="list[i].isDone" />
            <div class="text" v-bind:class="{ done: list[i].isDone }">
              {{todo.text}}
            </div>
            <!-- <div v-if="list[i].isDone === false" class="text">
              {{ todo.text }}
            </div>
            <div v-else style="text-decoration: line-through;">
              {{ todo.text }}
            </div> -->
            <div class="delete" @click="deleteTodo(i)"></div>
          </div>
        </div>
        <input type="text" class="input-todo" v-model="inputTodo" />
        <button class="input-button" @click="addTodo">追加</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          list: [
            { text: "ひき肉を300g買う", isDone: false },
            { text: "ホウレンソウを1束買う", isDone: false },
            { text: "ピーマンを2個買う", isDone: false },
          ],
          inputTodo: "",
          isDone: false,
        },
        methods: {
          addTodo: function() {
            this.list.push(this.inputTodo)
          },
          deleteTodo: function(i) {
            this.list.splice(i, 1)
          },
        },
      })
    </script>
  </body>
</html>
